theme = "base16_transparent"

[editor]
shell = ["zsh", "-cu"]
line-number = "relative"
mouse = false
bufferline = "multiple"
rulers = [80]
scrolloff = 14
scroll-lines = 4
auto-info = true
auto-format = true

[keys.normal]
C-s = ":w!"
C-w = ":buffer-close"
y = [":clipboard-yank", "yank"]
C-v = [":clipboard-paste-before"]
esc = ["collapse_selection", "keep_primary_selection"]
C-right = "jump_view_right"
C-left = "jump_view_left"
C-up = "jump_view_up"
C-down = "jump_view_down"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
left = ["mode", "spinner"]
center = ["file-name"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-line-ending", "file-type"]
separator = "|"
mode.normal = "NORMAL یلومعم 普通"
mode.insert = "INSERT ندرک جرد 入れる"
mode.select = "SELECT باختنا ندرک 選択する"

[keys.normal."+"]
M = ":run-shell-command cd build && cmake .."
m = ":run-shell-command cd build && make"
C = ":run-shell-command cd build && ./*.cm"
G = ":run-shell-command g++ ./*.cpp && ./a.out"
g = ":run-shell-command g++ ./main.cpp && ./a.out"
Z = ":run-shell-command zig build linux or zig build run"
z = ":run-shell-command zig run ./main.zig"

[editor.lsp]
display-inlay-hints = true
